body{background-color:#fcf5e4;}
h1, h2, h3, h4, h5, h6{font-family:"Courier Prime Code", Arial;color:#75bfca;}
a{color:#75bfca;}
a:hover{color:#f3da64;text-decoration:none;}
header{margin-top:1%;}
footer .contact{position:fixed;bottom:0.5em;margin:0;}
.transparency{background-color:rgba(255, 255, 255, 0);}
#star{width:40px;height:auto;}
.banner{position:fixed;bottom:0;z-index:-1;}
@fontface{font-family:'Courier Prime Code';src:url("fonts/Courier-Prime-Code.ttf");}