body {
  background-color: $background;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Courier Prime Code", Arial;
  color: $blue;
}

a {
  color: $blue;
}
a:hover {
  color: $yellow;
  text-decoration: none;
}

header {
  margin-top: $one;
}

footer {
  .contact {
    position: fixed;
    bottom: 0.5em;
    margin: 0;
  }
}


.transparency {
  background-color: transparentize($white, 1);
}

#star{
  width: 40px;
  height: auto;
}

.banner {
position: fixed;
bottom: 0;
z-index: -1;
}
